* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(0,169,171,1) 0%, rgba(105,39,157,1) 100%);
    box-sizing: border-box;
    margin: auto;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 50vh;
}

.slider-container {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.slider-container .slider {
    position: absolute;
    display: flex;
    width: 500%;
    height: 100%;
    animation: slide 15s infinite;
}

.slider .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.slide > img {
    width: 80%;
    height: auto;
}

@keyframes slide {
    15% {}
    20% {}
    35% {}
    40% {}
    45%{}
    60% {}
    75% {}
    80% {}
    95% {}
    100% {}
    
}