* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;/*radial-gradient(circle, rgba(0,169,171,1) 0%, rgba(105,39,157,1) 100%)*/
    height: 100vh;
    width: 100vw;
}

.slider-container {
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.slider-container .slider {
    position: absolute;
    display: flex;
    width: 500%;
    height: 100%;
    animation: slide 15s infinite;
}

.slider .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.slide > img {
    width: 80%;
    height: auto;
}

@keyframes slide {
    15% {
        right: 0;
    }
    20% {
        right: -100%;
    }
    35% {
        right: -100%;
    }
    40% {
        right: -200%;
    }
    55%{
        right: -200%;
    }
    60% {
        right: -300%;
    }
    75% {
        right: -300%;
    }
    80% {
        right: -400%;
    }
    95% {
        right: -400%;
    }
    100% {
        right: 0;
    }
}